*
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.header
{
    background-color:#778E69;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.header img
{
  width: 35px;  
  height: 35px;
}
body
{
    margin: 0px;
}
html
{
    font-family: 'Roboto', sans-serif;
}
.tel
{
    align-self: center;
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 1px;
    color: black;
}
.tel:hover
{
    text-decoration: underline;
}
.header .logo
{
    height: 85px;
    width: 100px;
}
.footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    min-height: 45px;
    background-color: #778E69;
}
.footer img 
{
  width: 35px;  
  height: 35px;
  padding: 0px 6px;
}
.footer a
{
    display: flex;
    align-items: center;
}
.socials
{
    display: flex;
}
.categories a
{
    width: 240px;
    height: 120px;
    border-radius: 8px;
    color: white;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
}
.categories
{
    display: flex;
    justify-content: space-between;
}
.container
{
    min-width: 1150px;
    max-width: 1440px;
    align-self: center;
    margin-top: 10px;
}
main
{
    display: flex;
    flex-direction: column;
    background-color: #F2F3ED; 
}
.container p 
{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin: 10px;
}
.eyes
{
    background-image: url("../img/Глаза.jpg");
}
.lips
{
    background-image: url("../img/Губы.jpg");
    background-position-y: -177px !important;
}
.face
{
    background-image: url("../img/Лицо.jpg");
    background-position-y: 0px !important;

}
.accessories
{
    background-image: url("../img/Аксессуары.jpg");
}
.product img
{
    width: 240px;
    height: 240px;
    border-radius: 8px;
}
.product
{
    width: 255px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 400px;
}
.container .product_name
{
    font-size: 24px;
    text-decoration: none;
    margin-bottom: 0px;
}
.container .product_price
{
    font-size: 27px;
    text-decoration: none;
}
.new a
{
    text-decoration: none;
    color: black;
    margin-right: 8px;
}
.new
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.price_button
{
    display: flex;
    align-items: center;
}
.button
{
border-radius: 8px;
height: 35px;
width: 90px;
font-size: 16px;
margin-right: 5px;
cursor: pointer;
}
.favorites
{
    border-radius: 50%;
    width: 35px;  
    height: 35px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.price_button img
{
    border-radius: 50%;
    width: 30px;  
    height: 30px;
    
}
.filters
{
    display: flex;
    flex-direction: column;
    width: inherit;
    padding: 10px;
}
.container-flex
{
    display: flex;
}
.form
{
    width: 200px;
    background-color: white;
    margin: 20px;
    height: fit-content;
    padding: 5px;
    margin-top: 0px;
}
.filters-checkbox
{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 5px 0px;
}
.slider
{
    background-image: url("../img/картинка1.jpg");
    background-position: center;
    background-size: cover;
    height: 450px;

}
.pos
{
    display: block;
    position: absolute;
    right: 25%;
    width: 300px;
    height: auto;
    color: black;
    top: 50%;
}
.pos p:first-child
{
    font-size: 40px;
}
.pos p:nth-child(2)
{
    font-size: 20px;
}
.pos button
{
    align-self: center;
}
.product_name:hover
{
    text-decoration: underline;
}
.button:hover
{
    background-color: #BCC399;
}
.favorites:hover
{
    background-color: #BCC399;
}
.new a
{
    margin-bottom: 16px;
}
.text
{
    display: flex;
    flex-wrap: wrap;
}
.promotion:hover
{
    background-color: #BCC399;
}
.promotion
{
    background-color: #F2F3ED;
    border: none;
}
fieldset
{
    border-radius: 10px;
    background-color: #F2F3ED;
    border: none;
}
.form-title
{
    font-size: 25px;
    font-weight: 900;
}
.input-registration input
{
    height: 40px;
    width: 100%;
    font-size: 14px;
    border: 2px;
    border-radius: 5px;
}
.main-registration
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #778E69;
}
.registration-buttun
{
    height: 40px;
    font-size: 20px;
    border: 2px;
    border-radius: 5px;
    background-color: white;
    width: 300px;

}
.registration-buttun:hover
{
    background-color: #BCC399;
    cursor: pointer;
}
.registration input
{
    margin: 10px 0px;
}
.div-regisration-buttun
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-registration
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productstr
{
    display: flex;
    flex-direction: row;
}
.product-img img
{
    height: 450px;
    width: 400px;
    margin: 50px;
}
.product-characteristic
{
    margin: 50px;
    margin-left: 0;
}
.name-product
{
    font-size: 40px;
    font-weight: 500;
}
.product-weight
{
    display: flex;
    font-size: 20px;
}
.product-weight p:first-child
{
    opacity: 0.70;
}
.select-product
{
    border-right: none;
    border-left: none;
    border-top: none;
    background-color: #F2F3ED;
    margin-bottom: 15px;
}
.prise-product p:first-child
{
    opacity: 0.70;
    margin: 0;
}
.prise-product p:last-child
{
    font-size: 25px;
}
.description
{
    display: flex;

}
.description p
{
    margin: 10px;
    text-decoration: underline;
    font-size: 25px;
}
.description-text
{
    width: 650px;
    margin: 10px;
    font-size: 20px;
}
.additionally img
{
    width: 35px;  
    height: 35px;
    margin: 5px;
}
.additionally p
{
    font-size: 25px;
}
.additionally div
{
    display: flex;
}
.additionally
{
    margin: 5px;
    margin-top: 40px;
}
.about img
{
    width: 35px;  
    height: 35px;
    margin: 5px;
}
.about
{
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 300px;
}
.cosmetic-blok1
{
    display: flex;
    margin: 0;
    justify-content: space-between;
}
.cosmetic-blok1 p:first-child
{
    font-size: 70px;
    margin: 60px;
    width: 396px;
    margin-bottom: 100px;
}
.cosmetic-blok2
{
    display: flex;
    justify-content: space-between;
}
.cosmetic-blok2 p
{
    width: 650px;
    margin: 50px;
    margin-left: 50px;
    font-size: 35px;
    display: flex;
    align-items: center;
    margin-right: 165px;
}
.cosmetic-blok2 img
{
    margin: 100px;
    height: 900px;
    margin-top: 0;
    width: 650px;
    margin-bottom: 50px;
}
.cosmetic-blok1img
{
    height: 900px;
    margin: 100px;
    margin-top: 50px;
    margin-bottom: 0;
}
.cosmetic-blok1img img
{
    width: 650px;
}
.cosmetic-description
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-group
{
    display: flex;
}
.about-biggroup
{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
